.img2 {
    width:150px;
    border: 10px solid black;
    /* max-height:250px; */
    
}
/* #turnOptions {
  position:relative;
  } */
 #specialMeter {
  position: absolute;
  width: 320px;
  height: 40px;
  border: 10px solid black;
  bottom: 40px;
 }
 #myBar {
   background-color: red;
   width:0%;
 }
.btn-secondary {
  margin:10px;
}  
.btn-warning {
  width:150px;
}
h1 {
  color:whitesmoke;
}
   
  /* width: 100%; */
  /* border: 10px solid white;
  color: blue;
  background: white; 
  z-index: -1;

} */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    background: transparent url(../images/spaceBack.png) repeat 0px -300px scroll;
    margin-bottom: 0px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
    line-height: 200px; /* Vertically center the text there */
    background : transparent url(../images/arena.jpg) repeat 0px -100px scroll;
    /* background-image: url(../images/arena.jpg); */
  }